---
title: Topics
suppress_header: true
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %img.hero-image-small{ src: "/images/devops-tools/gitlab-logo.svg", alt: "Gitlab logo svg" }
    %h1 Industry Topics
    %p Get insights into industry trends

.gitlab-content-container
  .grid-layout.grid-layout3
    - data.topics.each do |topic|
      %a.grid-item.tile-resource{ href: "#{topic.link}" }
        .tile-background-container{ style: "background-image: url('#{topic.background}');" }
        .tile-info
          %h3.tile-title
            = topic.name
          %p.tile-link
            Learn more
            %i.fas.fa-arrow-right
