:markdown

  ## Requirements

  - Experience in product management
  - Strong understanding of Git and Git workflows
  - Knowledge of the developer tool space
  - Strong technically. You understand how software is built, packaged and deployed.
  - Passion for design and usability
  - Highly independent and pragmatic
  - You are living wherever you want
  - You share our [values](/handbook/values), and work in accordance with those values.
  - Bonus points: experience with GitLab
  - Bonus points: experience in working with open source projects
